@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;500;600;700;800&display=swap'); 
*{
    margin: 0;
    padding: 0;
}


/*-----------------Navbar----------------*/
.logo{
    font-family: 'Caveat Brush', cursive;
    color: #4e9760;
    font-size: 50px;
    padding: 0 50px;
}
.navbar{
    height: 70px;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;
}

.navbar ul li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 18px;
    font-weight: 600;
}

.navbar ul li a:hover{
    
    color: #4e9760;
    transition: .5s;
}

.checkbtn{
    font-size: 25px;
    color: black;
    float:right;
    margin-top: 26px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width:952px){
    label.logo{
        font-size: 40px;
        padding-left:50px;
        margin-top: 30px;
    }
    .navbar ul li a{
        font-size: 15px;
    }
}

@media(max-width: 858px){
    
    .checkbtn{
        display: block;
    }
    .navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5de17e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li{
        display: block;
        margin: 20px 0;
    }
    .navba ul li a{
        font-size: 20px;
    }
   
    #check:checked ~ .navbar ul{
        left: 0;

    }

}


/* ----------home page css --------------- */
.home-container{
    display: flex;
    width: 100%;
}
.home-left{
    width: 40%;
    height: 80vh;
  
}
.home-right{
    width:60%;
    height: 80vh;
   
}

.pizza-home{
    height: 500px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    position:absolute;
    
}


.heroText{
    font-family: 'Caveat Brush', cursive;
    font-size: 7rem ;
    margin-left: 80px;
    margin-top: 52px ;
    color: #4e9760;
}

.heroDescription{
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 26, 26);
    margin-left:80px;
    margin-top: 20px;
    font-weight: 600;
    font-size:25px;
}

.aboutCompany{
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 26, 26);
    font-size: 12px;
    margin-top: 10px;
}

.home-left button{
    margin-left: 90px;
    margin-top: 40px;
    padding: 20px 90px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background:#5de17e;
    color: white;
}

.home-left button:hover{
    background: #55cd73;
    cursor: pointer;
}

.leaf1{
    float:right;
    height: 255px;
}
.leaf2{
    margin-top: 300px;
}


/* --------Menu page --------------------- */


.card{
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
    width: 370px;
    height: 465px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border: rgb(227, 227, 227) solid;
}

.card .pizImg img{
    margin-top: 44px;
}


.card .pizContent .cardHeading{
    font-weight: 600;
    font-size: 18px;
}

.card .pizContent .cardDisc{
    font-size: 12px;
    width: 300px;
    margin-left: 40px;
    margin-top: 10px;
}

.cardButton{
    height: 44px;
    width: 165px;
    border-radius: 7px;
    border: none;
    background: rgb(250, 75, 75);
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.cardButton:hover{
    background: rgb(205, 58, 58);
}


.menuBody{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


/* -------About page----------------- */

.aboutcontainer{
    width: 100%;
    text-align: center;
}



.aboutPara{
    
    font-family: 'Montserrat', sans-serif;
    margin: 100px;
  
}